@model TvModelMVC.Models.Sorumlu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MyLayoutPage1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sorumlu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SorumluIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SorumluIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SorumluGorevi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SorumluGorevi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SorumluMaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SorumluMaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yayin.YayinAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yayin.YayinAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
